target/

media-fever-server/bin/
media-fever-server/target/
media-fever-server/test-output/
media-fever-server/work/
media-fever-server/.settings/org.maven.ide.eclipse.prefs
media-fever-server/src/main/resources/settings.local.properties
media-fever-server/src/main/resources/git.properties
media-fever-server/src/main/resources/log4j.xml
media-fever-server/src/main/webapp/.#webclasspath

media-fever-android/bin/
media-fever-android/gen/
media-fever-android/target/
media-fever-android/.settings/org.maven.ide.eclipse.prefs
media-fever-android/src/main/resources/settings.local.properties
media-fever-android/src/main/resources/git.properties
