<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="locations">
			<list>
				<value>classpath:settings.properties</value>
				<value>classpath:settings.local.properties</value>
			</list>
		</property>
	</bean>

	<bean id="applicationContext" class="com.mediafever.context.ApplicationContext" factory-method="get">
		<property name="securityContextHolder" ref="securityContextHolder" />
		<property name="appName" value="${app.name}" />
		<property name="appVersion" value="${app.version}" />
		<property name="apiVersion" value="${api.version}" />
		<property name="tokenSecret" value="${server.token.secret}" />
		<property name="googleServerApiKey" value="${google.server.api.key}" />
		<property name="httpMockEnabled" value="${http.mock.enabled}" />
		<property name="httpMockSleepDuration" value="${http.mock.sleep.duration}" />
		<property name="moviesApiURL" value="${movies.api.url}" />
		<property name="moviesApiKey" value="${movies.api.key}" />
		<property name="tvApiURL" value="${tv.api.url}" />
		<property name="tvApiKey" value="${tv.api.key}" />
	</bean>

	<bean id="securityContext" class="com.mediafever.context.SecurityContext" scope="session">
		<property name="userRepository" ref="userRepository" />
		<aop:scoped-proxy />
	</bean>

	<bean id="securityContextHolder" class="com.jdroid.javaweb.context.SecurityContextHolder">
		<lookup-method name="getContext" bean="securityContext" />
	</bean>

	<context:annotation-config />
	<context:component-scan base-package="com.mediafever.api.controller" />
	<context:component-scan base-package="com.mediafever.core.service" />
	<context:component-scan base-package="com.jdroid.javaweb.push" />

</beans>