<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>Media Fever Server</display-name>
	<description>Media Fever Server</description>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:spring/datasource.xml,
			classpath:spring/applicationcontext-persistence.xml,
			classpath:spring/applicationcontext.xml,
			classpath:spring/applicationcontext-repository.xml,
			classpath:spring/applicationcontext-marshaller.xml
		</param-value>
	</context-param>
	
	<context-param>
		<param-name>resteasy.providers</param-name>
		<param-value>com.mediafever.api.exception.ExceptionHandler</param-value>
	</context-param>
	
	<filter>
		<filter-name>Open Session in View</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
	</filter>
	
	<filter>
		<filter-name>API Version Filter</filter-name>
		<filter-class>com.mediafever.api.filter.APIVersionFilter</filter-class>
	</filter>
	
	<filter>
		<filter-name>Log4j Filter</filter-name>
		<filter-class>com.mediafever.api.filter.Log4jFilter</filter-class>
	</filter>
	
	<filter>
		<filter-name>Security Filter</filter-name>
		<filter-class>com.mediafever.api.filter.SecurityFilter</filter-class>
	</filter>
	
	<filter>
		<filter-name>Authentication Filter</filter-name>
		<filter-class>com.mediafever.api.filter.AuthenticationFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>Open Session in View</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>Security Filter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>Authentication Filter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>Log4j Filter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>API Version Filter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>

	<listener>
        <listener-class>com.jdroid.javaweb.log.ClasspathLog4jServletContextListener</listener-class>
    </listener>

	<listener>
		<listener-class>
			org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
	</listener>

	<!-- Any beans annotated with JAX-RS are automatically loaded (@Path...) -->
	<listener>
		<listener-class>
			org.jboss.resteasy.plugins.spring.SpringContextLoaderListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>Resteasy</servlet-name>
		<servlet-class>
			org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Resteasy</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	
	<session-config>
        <session-timeout>
            30 <!-- minutes -->
        </session-timeout>
    </session-config>
	
</web-app>